.timeline .table-view .column-header-background .label {
    -fx-background-color: transparent;
    -fx-text-fill: black;
    -fx-text-weight: strong;
  }
  
  .timeline .table-row-cell {
    -fx-background-color: white;
  }
  
  .timeline .table-column {
    -fx-padding: 5 0 3 0;
    -fx-border-width: 0px;
  }
  
  .timeline .table-view:focused .table-row-cell:selected {
    -fx-background-color: derive(-fx-base, 20%);
    -fx-background-insets: 0 0 0 0;
  }
  
  .WeekendColor.column-header {
    -fx-background-color: #1be5ec;
  }
  
  .today.table-column {
    -fx-padding: 5 0 3 0;
    -fx-margin: 0 0 0 0;
    -fx-border-width: 0px 3px 0px 0px;
    -fx-border-color: rgb(244, 114, 43);
  }
  
  .label {
    -fx-label-padding: 1, 1, 1, 1;
  }
  
  .gantt-part-beginning {
    -fx-background-color: #5bb336, #54cc82, #70ca4a, #54cc82;
    -fx-background-insets: 0 0 0 0, 0 0 2 0, 2 0 4 2, 3 0 4 3;
    -fx-border-width: 0;
    -fx-background-radius: 5 0 0 5;
  }
  
  .gantt-part-center {
    -fx-background-color: #61b83c, #54cc82, #6ad83b, #54cc82;
    -fx-background-insets: 0 0 0 0, 0 0 2 0, 2 0 4 0, 3 0 4 0;
    -fx-border-width: 0;
  }
  
  .gantt-part-end {
    -fx-background-color: #5bb336, #54cc82, #60c833, #54cc82;
    -fx-background-insets: 0 0 0 0, 0 0 2 0, 2 2 4 0, 3 3 4 0;
    -fx-border-width: 0;
    -fx-background-radius: 0 5 5 0;
  }
  .gantt-complet {
    -fx-background-color: #6fdc41, #54cc82, #75dc48, #54cc82;
    -fx-background-insets: 0 0 0 0, 0 0 2 0, 2 2 4 0, 3 3 4 0;
    -fx-border-width: 0;
    -fx-background-radius: 5 5 5 5;
  }
  git branch -M main
  .table-row-cell:filled:selected {
    -fx-background-color: #a2d5a2;
  }
  
  .table-view .cell:filled {
    -fx-cell-size: 30;
    -fx-alignment: center-left;
  }
  